.movieContainer {
    display: flex;
    flex-direction: column;
    width: 75vw;
}

.movieContainer:nth-child(2n) {
    background-color: #0c0216;
}

.movieProp {
    position: relative;
    color: #cccbcb;
    padding: 10px 0 10px 10px;
    margin-left: 10px;
    display: flex;
    align-items: flex-start;
}

.movieProp img {
    max-width: 125px;
    border-radius: 8px;
}

.movieProp p {
    margin: 0px 0 0 10px;
    font-size: 14px;
    font-weight: 500;
}

.movieProp h2 {
    margin: 10px 0 5px 10px;
    font-size: 18px;
    font-weight: 700;
}

.movieProp h3 {
    font-size: 14px;
    font-weight: 500;
}

.movieDetail {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    width: 15%;
}

.movieSessions {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; 
}

.movieSessions h3 {
    grid-column: 1 / -1;
}

.sessionTime {
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    color: #000
}

