.movieProp {
    color: #cccbcb;
    margin-bottom: 15px;
    display: flex;
    align-items: flex-start;
}

.movieDetail {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
}

.movieSessions {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.movieProp img {
    max-width: 125px;
    border-radius: 8px;
}

.movieProp p {
    margin: 0px 0 0 10px;
    font-size: 14px;
    font-weight: 500;
}

.movieProp h2 {
    margin: 10px 0 5px 10px;
    font-size: 18px;
    font-weight: 500;
}

.movieProp h3 {
    margin: 10px 0 5px 10px;
    font-size: 14px;
    font-weight: 500;
}