.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 50px;
  }
  
  
  .form-container {
  background-color: rgb(148, 148, 219);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 50%;
  height: 50vh;
  }
  
  .form-group {
  margin-bottom: 30px;
  font-size: large;
  text-align: left;
  font-weight: bold;
  }
  
  .form-group input {
      font-size: large;
  }
  
  .form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  }
  
  .submit-btn {
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 10px 15px;
  width: 25%;
  font-weight: bold;
  }
  
  .submit-btn:hover {
  background-color: mediumaquamarine;
  }
  
  
  .info {
  margin-top: 10px;
  text-align: center;
  font-size: large;
  font-weight: bold;
  }